<% wrap_layout :layout do %>
  <article>
    <header>
      <h1 class="date">
        <time>
        <%= 
        current_page.data.date.strftime("<span class='day'>#{current_page.data.date.day.ordinalize}</span> %B %Y") %>
        </time>
      </h1>
    </header>
    <%= yield %>
  </article>
<% end %>

<script src="https://use.typekit.net/lee8rpv.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
